<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <h1 class="color">INFO</h1>
    <h2>Carpeta del proyecto: {{cwd}}</h2>
    <h2>Nombre de la plataforma: {{plataforma}}</h2>
    <h2>version node: {{node}}</h2>
    <h2>Memoria total reservada: {{memoria}}</h2>
    <h2>id Del proceso: {{idDelProceso}}</h2>
    <h2>Path de ejecucion: {{execPath}}</h2>
    <h2>Argumentos: {{argumentos}}</h2>
    <h2>procesadores: {{procesadores}}</h2>

</body>

</html>